@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #48483a;
  font-family: 'Open Sans', sans-serif;
}

.app {
  width: 80%;
  margin: 5rem auto;
}
