.todo__card {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #5c574f;
  color: #dff8eb;
  font-size: 0.8rem;

  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;

  box-shadow: 0 0 9px 9px rgba(0, 0, 0, 0.1);
}

.todo__card:first-child {
  margin-top: 3rem;
}

.todo__info {
  width: 100%;
  padding-right: 3rem;
}

.todo__card--input {
  background-color: #48483a;
  border: none;
  color: #dff8eb;
  font-size: 1.6rem;
  outline: none;
}

.todo__card--input::placeholder {
  color: #dff8eb;
}

.todo__header {
  text-decoration: none;
}

.todo__header:hover,
.todo__header--strike:hover,
.todo__delete:hover,
.todo__edit:hover,
.todo__done:hover {
  cursor: pointer;
}

.todo__header--strike {
  text-decoration: line-through;
}

.todo__buttons {
  display: flex;
  width: 12rem;
  justify-content: space-between;
  align-items: center;
}

.todo__date--complete {
  /* width: 5rem; */
}

.todo__date--picker {
  background-color: #48483a;
  color: white;
  width: 80%;
  border: none;
}
